<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Railway Station</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunk %>" /> -->

        <style>
            body {
                width: 100vw;
                height: 100vh;

                display: grid;
                justify-content: center;
                align-content: center;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <!-- <script src="<%= htmlWebpackPlugin.files.chunk %>"></script> -->
    </body>
</html>
